* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: black;
  line-height: 1;
  background-color: whitesmoke;
  display: flex;
  /* text-align: center; */
  justify-content: center;
}

table {
  width: 800px;
  margin-top: 100px;
  border: 1px solid rgba(227, 227, 227, 0.861);
  border-collapse: collapse;
  font-size: 18px;
}

th,
td {
  /* border: 1px solid black; */
  padding: 16px 24px;
  text-align: left;
}

thead th {
  width: 25%;
}

thead tr {
  background-color: #5f3dc4;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: rgba(227, 227, 227, 0.642);
}

tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}
