* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: black;
  line-height: 1.5;
  background-color: whitesmoke;
}

header {
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(hero.jpg);
  background-size: cover;
  color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 2em; /*adds top padding*/
}

.header-container {
  width: 1200px;
  position: absolute;
  left: 50%; /*relation to parent size*/
  top: 45%; /*THINK FROM THE TOP*/
  transform: translate(-50%, -50%); /* In relation to ELEMENT size */
  /* text-align: start;
  margin-left: 50px; */
}

.header-container-inner {
  width: 50%;
}

nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 52px;
  line-height: 1.5;
  margin-bottom: 32px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  background-color: tomato;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}

/* 
.btn:hover,
.btn:active,
.btn:focus {
  color: black;
  background-color: whitesmoke;
  border: 1px solid black;
} */

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  padding: 96px 0;
  /* background-color: green; */
}
